<div class="container__menu-bar">
    <ul>
        <li><a href="https://ge.globo.com/cartola/?utm_source=globocom&utm_medium=header&utm_campaign=c2022_10_cartola_cartola-2022_alcance&utm_content=HEA_cartola-2022">CARTOLA</a></li>
        <li><span>•</span></li>
        <li><a href="https://www.uol.com.br/esporte/futebol/copa-do-mundo/">COPA 2022</a></li>
        <li><span>•</span></li>
        <li><a href="https://www.youtube.com/channel/UCpcTrCXblq78GZrTUTLWeBw">YOUTUBE - FIFA</a></li>
    </ul>
</div>
